// color variable
$bg-blue-color: #134C83;
// font variable
$font-family-poppins: 'Poppins', sans-serif;
$font-family-nunito: 'Nunito', sans-serif;
$font-weight: 600;

a {
    text-decoration: none;
}

.figure {  
    img {
      position: absolute;
      height: 100vh;
    }
  
  }
.margin-left{
    padding-left: 5px;
}
h4 {
    font: {
        family:$font-family-poppins;
        weight: 600;
    }
}
.custom-form {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
    input,select {
        border-radius: 10px;
        border-color: #7d7d7d;
    }
    .custom-label {
        font: {
            size: 15px;
            font-weight: 600;
            family: $font-family-poppins;
        }
    }
    input,select:focus {
        box-shadow: none;
    }
    .custom-btn {
        background-color: $bg-blue-color;
        border: none;
        border-radius: 10px;
        color: #fff;
        font: {
            size: 20px;
            weight: 600;
        }
    }
    p {
        font: {
            size: 15px;
            weight: 500;
            family: $font-family-poppins;
        }
        a {
            color: $bg-blue-color;
            font: {
                size: 16px;
                weight: 600;
            }
        }
    }
}
// responsive
@media only screen and (max-width: 576px) {
   .container-fluid {
       padding: 10px !important;
   }
   .custom-form {
    background-color: #fff;
    padding: 20px 10px !important;
    .custom-label {
        font: {
            size: 13px !important;
        }
    }
}
}
input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}
.error {
    font: {
        size: 14px;
        weight: 500;
    }
}