.max-width {
  padding: 0 40px;
}

ul > li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #edf6f9 !important;
}

@media only screen and (max-width: 992px) {
  .shape {
    clip-path: ellipse(700px 740px at 30% 35%) !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1150px) {
  .shape {
    clip-path: ellipse(700px 740px at 12% 35%) !important;
  }
}
.wrapper {
  background-color: #edf6f9;
  height: 30px;
}

.shape {
  position: absolute;
  height: 100vh;
  background-color: #edf6f9;
  width: 100%;
  opacity: 0.73;
  background-image: linear-gradient(152deg, rgba(19, 76, 131, 0.38) 17%, rgba(12, 46, 80, 0.08) 48%, rgba(10, 38, 66, 0) 80%);
  clip-path: ellipse(700px 740px at 25% 35%);
  z-index: 0;
}

@media only screen and (max-width: 450px) {
  .top-header {
    padding: 0;
  }
  .top-header .navbar-brand {
    width: 50%;
  }
  .top-header .navbar-brand .university-name {
    font-size: 20px !important;
    font-weight: 500 !important;
  }
  .top-header .navbar-brand .explain {
    display: none !important;
  }
  .top-header .border-end {
    display: none !important;
  }
}
@media only screen and (min-width: 451px) and (max-width: 600px) {
  .top-header {
    padding: 0;
  }
  .top-header .navbar-brand {
    width: 70%;
  }
  .top-header .navbar-brand .university-name {
    font-size: 20px !important;
    font-weight: 500 !important;
  }
  .top-header .navbar-brand .explain {
    font-size: 13px !important;
  }
}
.top-header {
  height: 60px;
  background-color: #134c83;
}
.top-header .navbar-brand {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-header .navbar-brand .university-name {
  color: #fff;
  margin: 0 10px 0 10px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.top-header .navbar-brand .border-end {
  height: 45px;
}
.top-header .navbar-brand .explain {
  line-height: 27px;
  color: #fff;
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.top-header .navbar-brand .explain hr {
  margin: 0;
  padding: 0;
  background-color: #134c83;
}
.top-header .custom-dropdown a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.top-header .custom-dropdown a img {
  margin: 0 5px;
}
.top-header .custom-dropdown .custom-dropdown-menu {
  min-width: 7rem !important;
  border: none;
  background-color: #134c83;
}
.top-header .custom-dropdown .custom-dropdown-menu .dropdown-item:hover {
  background-color: #edf6f9;
  color: #000;
}
.top-header .custom-dropdown .dropdown-item {
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .main-menu {
    padding: 0 15px;
  }

  .navbar-toggler-icon img {
    padding: 15px 0;
  }

  .register-buttons {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-wrapper {
    margin: 10px 0 !important;
  }
}
.main-menu {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.main-menu .navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.main-menu .navbar-wrapper .container-fluid .navbar-toggler:focus {
  box-shadow: none;
}
.main-menu .navbar-wrapper .container-fluid .navbar-toggler-icon img {
  padding: 15px 0;
}
.main-menu .navbar-wrapper .container-fluid ul {
  z-index: 1;
}
.main-menu .navbar-wrapper .container-fluid .nav-item {
  padding: 0 10px;
}
.main-menu .navbar-wrapper .container-fluid .nav-item a {
  color: #000;
  display: inline-block;
  border-bottom: 3px solid transparent;
}
.main-menu .navbar-wrapper .container-fluid .nav-item a:hover {
  border-bottom: 3px solid #134c83;
}
.main-menu .navbar-wrapper .container-fluid .navbar-nav > li .active {
  font-weight: 700;
}
.main-menu .navbar-wrapper .register-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px !important;
}
.main-menu .navbar-wrapper .custom-signUp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 90px;
  height: 37px;
  border: none;
  background-color: #134c83;
  border-radius: 20px;
  margin: 0 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 5px 5px 17px 0px rgba(22, 87, 226, 0.29);
}
.main-menu .navbar-wrapper .custom-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 90px;
  height: 37px;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  box-shadow: 5px 5px 17px 0px rgba(22, 87, 226, 0.29);
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 375px) {
  .navbar-toggler-icon img {
    padding: 5px 0 0 0 !important;
    width: 25px !important;
  }

  ul li {
    font-size: 14px !important;
    width: 88% !important;
    padding: 0 50px !important;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-toggler-icon img {
    padding: 5px 0 0 0 !important;
    width: 30px !important;
  }

  ul {
    background-color: #c2d4e1 !important;
    width: 100% !important;
    position: absolute !important;
    right: 0 !important;
    top: 100% !important;
  }

  ul li {
    width: 88% !important;
    padding: 0 50px !important;
  }
}
@media only screen and (max-width: 375px) {
  .custom-signUp-button {
    font-size: 12px !important;
    width: 70px !important;
    height: 30px !important;
  }

  .custom-login-button {
    font-size: 12px !important;
    width: 70px !important;
    height: 30px !important;
  }
}
@media only screen and (min-width: 376px) and (max-width: 992px) {
  .custom-signUp-button {
    font-size: 14px !important;
  }

  .custom-login-button {
    font-size: 14px !important;
  }
}/*# sourceMappingURL=top-header.component.css.map */