<figure class="figure">
    <img src="/assets/images/slider.png" class="figure-img img-fluid " alt="..."> 
  </figure>
  <div class="polygon">
      <img src="/assets/icons/Polygon.svg" alt="polygon">
  </div>
  <div class="text-wrapper">
    <div class="title">
      Mission
        <div class="content">
          The mission of the High Performance Computing Center in Kharazmi is to take a small step to support students, professors, and researchers doing research by providing the necessary infrastructure and platforms and technologies.
        </div>
    </div>
</div>

