<app-top-header></app-top-header>
<figure class="figure">
    <img src="/assets/images/bg-register.png" class="figure-img img-fluid w-100" alt="bg-register" > 
  </figure>
<div class="container-fluid position-absolute mt-3" style="padding: 10px 60px;">
    <div class="row d-flex justify-content-end ">
        <div class="col-12 col-md-8 col-lg-5">
            <h4 class="mb-3">Reset Password</h4>
            <form class="custom-form" [formGroup]="Form" (ngSubmit)="onSubmit()">
               <p>If you have forgotten your password,please enter your email or mobile number.</p>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mt-2 w-100">
                        <label for="email" class="custom-label">Email (Just Academic Email)</label>
                        <input type="text" class="form-control" id="email" formControlName="email">
                    </div>
                    <div class="col-md-12">
                        <re-captcha (resolved)="resolved($event)"  class="col-12"
                        formControlName="recaptchaReactive" 
                        siteKey="6Le1DmEcAAAAAEKOBRTzFOsTHit3xzskLLb2h0p7">  
                    </re-captcha>
                      </div>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mt-2 w-100">
                    <button type="submit" class="w-100 p-2 mt-2 custom-btn">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

     



