// font variable
$font-path: "/assets/fonts";
$font-family-poppins: 'Poppins', sans-serif;
$font-family-nunito: 'Nunito', sans-serif;
$font-weight: 600;
$font-style: normal;

// color variables
$white-color: #fff;
$black-color: #000;
$bg-light-blue: #edf6f9;
$bg-top-header: #134c83;

// mixin
@mixin flex($display: flex, $position-x: center, $position-y: center) {
  display: $display;
  justify-content: $position-x;
  align-items: $position-y;
}

.max-width {
  padding: 0 40px;
}

ul > li {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: $bg-light-blue !important;
}
h2{
  font-size: 25px;
  margin-bottom: 20px;
}
a {
    text-decoration: none;
}

.container-fluid {
  position: relative;
  width: 94%;
  .docs-warpper {
    overflow-x: hidden !important;
    width: 100%;
    margin-top: 10px;
    .title-wrapper{
      ul {
        margin: 18px 0 0 13px !important;
        display: flex;
        li {
          margin: 5px 10px;
          padding: 0 0 10px 0;
          font: {
            size: 18px;
            weight: 700;
            family: $font-family-nunito;
          }
          a {
            padding: 4px !important;
            color: $black-color;
            cursor: pointer;
          }
        }
      }
    }
    .content-wrapper {
      padding: 5px 25px !important;
      .card {
        margin: 0 5px;
        border-radius: 10px;
        overflow: hidden;
        .card-text {
          font: {
            size: 16px;
            family: $font-family-nunito;
          }
          margin-bottom: 5px !important;
        }
        .card-body{
          position: relative;
        }
.kind{
  top: -20px;
  color: #F6AE2D;
  text-transform: capitalize;
  left: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 32px;
  background-color: #fff2d1;
  border-radius: 5px;
}
a{
  font: {
    size: 14px;
    weight: 700;
    text-decoration: none !important;
  }
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $bg-top-header;
  img {
      color: $bg-top-header;
      margin: 0 10px;
  }
}
      }
    }
    
  }
}
// ===============================================
// styles of slider-package

:host::ng-deep .owl-prev,
:host::ng-deep .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff !important;
  box-shadow: 2px 0 15px 0 rgb(0 0 0 / 15%);
  width: 35px;
  height: 35px;
  @include flex(flex !important, center !important, center !important);
}

:host::ng-deep .owl-prev {
  left: 0%;
}
:host::ng-deep .owl-next {
  right: 0%;
}
:host::ng-deep .owl-theme .owl-nav [class*=owl-] {
  margin: 5px;
  padding: 4px 7px;
}

// end slider-package



